@Html.ValidationSummary(true, "", new { style = "color:red;" })

<h2 style="text-align:center;color:#5A7D9A;">Registro de Usuario</h2>

<form method="post">
    <input name="Email" placeholder="Correo" style="width:100%;padding:10px;margin:8px 0;border-radius:8px;border:1px solid #BFDFF5;" />
    @Html.ValidationMessage("Email", "", new { style = "color:red;" })

    <input name="Password" placeholder="Contraseña" style="width:100%;padding:10px;margin:8px 0;border-radius:8px;border:1px solid #BFDFF5;" />
    @Html.ValidationMessage("Password", "", new { style = "color:red;" })

    <button type="submit" style="width:100%;padding:10px;background:#7EC8E3;color:white;border:none;border-radius:8px;">
        Guardar
    </button>
</form>

<br/>

<a href="/Home/Login" style="display:block;text-align:center;color:#5A7D9A;">
    Inicio
</a>